.gridContainer {
    margin: 4px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-auto-rows: 130px;
    gap: 4px;
}

.gridContainer div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgb(53, 18, 18);
    background-color: rgb(255, 169, 205);
}

.gridContainer div:hover {
    background-color: rgb(254, 101, 165);
}
