.heading {
    font-size: 35px;
    color: rgb(27, 138, 229);
  }
  
  .desc {
    font-style: italic;
  }
  
  .textGreen {
    color: rgb(61, 140, 0);
  }
  
  .list {
    list-style: none;
  }
  
  .list > li::before {
    content: '⚡️ ';
  }
  