.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.foxWrapper {
    width: 350px;
    height: 350px;
    overflow:hidden;
    border: 4px dashed orange;
    margin-bottom: 15px;
}

.foxWrapper > img {
width: 100%;
height: 100%;
object-fit: cover;
}